<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8" />
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.4.0/css/bootstrap.min.css}" />

</head>


<body>
<div th:replace="fragments/header.html :: navbar"></div>

<div class="container">

    <h1 class="text-center" >confirmation de paiement </h1>
    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">

            <p th:if="${paiementOk}" >
                Paiement Accepté
            </p>

            <p th:unless="${paiementOk}">
                Le paiement n'a pas abouti
            </p>



        </div>
    </div>

</div>


<div th:replace="fragments/footer.html :: footer"></div>